.page-header {
    background-color: #000;
    margin: 0;
    padding: 10px 20px 0px 20px;
}
#logo_c {
    background-color: #fff;
}
.img-responsive {
    margin: 0 auto;
}
.btn-primary {
    background-color: #2998CE;
    border-color: #2998CE;
}
.btn-primary:hover {
    background-color: #217AA5;
    border-color: #217AA5;
}
